<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zleceniomat</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/commons.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <th:block>
        <div th:if="${role == 'CONTRACTOR'}" th:each="offer : ${ownedOffers}">
            <div class="product-box">
                <div th:text="'Name: ' + ${offer.price}" class="name-box"></div>
                <div th:text="'Description: ' + ${offer.date}" class="description-box"></div>
                <div class="product-data-box">
                    <a th:href="@{/edit/{id}(id=${offer.id})}" class="edit-button"></a>
                </div>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>